.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: white;
}

.header-logo {
    height: 50px;
    object-fit: contain;
    margin-left: 20px;
}
.header-left {
    display: flex;
    align-items: center;
}
.header-input {
    display: flex;
    align-items: center;
    width: 50%;
    border: 1px solid black;

}
.header-input > input {
    flex: 1;
    border: none;
    color: gray;
}

.header-inputButton {
   width: 50px !important;
    background-color: #fafafa;
    border-left: 1px solid lightgray;
    color: gray;
}

.header-icons {
    display: flex;
    align-items: center;
}
.header-icon {
    margin-right: 8px;
}
